@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$black-color: #000000;
$white-color: #ffffff;

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white-color;
  // overflow-x: visible;
}

.container {
  background-color: $black-color;
  .navigation {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and(max-width : 768px) {
      padding: 12px 34px;
    }
    .nav-link {
      @media screen and(max-width : 768px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -156px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 156px;
        background-color: $black-color;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        transition: ease 300ms;
        &.active {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 68px;
          left: 0;
          right: 0;
          width: 100vw;
          height: 156px;
          // background-color: $black-color;
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }
      &.active {
        a {
          @media screen and(max-width : 768px) {
            z-index: -1;
            text-decoration: none;
            color: $white-color;
            padding: 16px 34px;
            opacity: 50%;
            transition: ease 300ms;
            &:hover {
              opacity: 100%;
            }
            &:active {
              opacity: 100%;
            }
          }
        }
      }
      a {
        text-decoration: none;
        color: $white-color;
        padding: 10px;
        opacity: 50%;
        transition: ease 300ms;
        &:hover {
          opacity: 100%;
        }
        &:active {
          opacity: 100%;
        }
      }
    }

    .hamburger {
      display: none;
      // kecil
      @media screen and(max-width : 768px) {
        display: block;
        cursor: pointer;
        .line {
          width: 30px;
          height: 3px;
          background: $white-color;
          margin: 6px;
          transition: ease 300ms;
        }
      }

      &.active .line:nth-child(1) {
        transform-origin: 0 0;
        transform: rotate(45deg) translate(-1px, -1px);
        transition: ease 300ms;
      }

      &.active .line:nth-child(2) {
        transform: scale(0);
        transition: ease 300ms;
      }

      &.active .line:nth-child(3) {
        transform-origin: 0 100%;
        transform: rotate(-45deg) translate(-1px, 0px);
        transition: ease 300ms;
      }
    }
  }

  .home {
    display: flex;
    background-image: url("/img/bg-gradient-dekstop.png");
    background-position-y: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 70px;
    @media screen and(max-width : 768px) {
    }
    img {
      margin: 40vh auto;
      @media screen and(max-width : 768px) {
      }
    }
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #ffffff;
    padding: 34px 64px;
    .div1 {
      grid-area: 1 / 1 / 2 / 13;
    }
    .div2 {
      grid-area: 2 / 7 / 3 / 13;
      opacity: 100%;
      padding: 24px 0px;
    }
    .div3 {
      grid-area: 3 / 7 / 4 / 13;
      opacity: 50%;
    }
    .div4 {
      grid-area: 4 / 7 / 5 / 13;
      text-align: end;
      opacity: 25%;
      cursor: pointer;
      transition: ease 300ms;
      &:hover {
        opacity: 100%;
      }
    }
    .div5 {
      grid-area: 2 / 1 / 5 / 6;
      background-color: #ffffff;
    }
  }
}
